<%- include('header') -%>

<%- include('navbar') -%>


 <!-- Container of Login  -->
 <div class="cont">
  <h3>Login</h3>
  <div class="username">
   <i class="fas fa-user-tie" id="user"></i>
   <input type="text" name="Username" id="username" placeholder="Username" required>
  </div>
 
  <div class="password">
   <i class="fas fa-unlock-alt" id="pass"></i>
   <input type="password" name="Password" id="password" placeholder="Password" required>
  </div>
 
  <div class="btn">
   <button type="button">LOG IN</button>
   <a href="#" class="forgotten-pass">Forgotten password?</a>
  </div>
 
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, quidem qui iure aliquam tempora praesentium
   mollitia possimus.
   <a href="/alumni_sign_up" class="sign-up">Sign up</a>
  </p>
 </div>


<%- include('footer') -%>
</body>

</html>