<!-- Header  -->
<%- include('header') -%>

<!-- Navbar  -->
<%- include('navbar') -%>

<!-- Container of Login  -->

<form action="/college_sign_in" method="post">
 <div class="cont">
  <h3>College Login</h3>
  <div class="username">
   <i class="fas fa-user-tie" id="user"></i>
   <input type="text"  name="Email" id="username" placeholder="Email" required>
  </div>

  <div class="password">
   <i class="fas fa-unlock-alt" id="pass"></i>
   <input type="password" name="Password" id="password" placeholder="Password" required>
  </div>

  <div class="btn">
   <button type="submit">LOG IN</button>
   <a href="#" class="forgotten-pass">Forgotten password?</a>
  </div>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, quidem qui iure aliquam tempora praesentium
   mollitia possimus.
  </p>
 </div>
</form>

<!-- Link for js -->
<script src="/js/sign_in.js"></script>
</body>

<%- include('footer') -%>

</html>