<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Contact</title>

 <!-- Bootstrap -->
 <link href="/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="/css/font-awesome.min.css">
 <link href="/css/overwrite.css" rel="stylesheet">
 <link href="/css/style.css" rel="stylesheet">
 <script src="https://kit.fontawesome.com/e2169f0192.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/css/controlPanel.css">

</head>

<body>
 <div class="row">
  <div class="col-md-2">
   <div class="menu">
    <div class="logo">
     <a href="#">
      <h1>EVENT POST</h1>
     </a>
    </div>
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/events">View Events</a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>

 <div class="">
  <div class="">
   <div class="col-md-6 col-md-push-2">
    <section id="contact-page">
     <div class="container">
      <div class="center">
       <h2>Describe Your Events</h2>
       <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-8 col-md-offset-2">
       
       <form action="/eventHost" method="post" role="form" class="contactForm">

        <div class="form-group">
         <input type="text" name="collegeName" class="form-control" id="name" placeholder="College Name"/>
        </div>
      
        <div class="form-group">
         <input type="text" class="form-control" name="eventTitle" id="subject" placeholder="Event Title" />
        </div>

        <div class="form-group">
         <textarea class="form-control" name="eventMessage" rows="5" placeholder="Message"></textarea>
        </div>

        <div class="text-center"><button type="submit" name="submit" class="btn btn-primary btn-lg" required="required"
          style="background: #6EE5A1;">Post Event</button></div>
       </form>

      </div>
     </div>
     <!--/.container-->
    </section>
    <!--/#contact-page-->
   </div>
  </div>
 </div>



 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script type="text/javascript" src="/js/fliplightbox.min.js"></script>
 <script type="text/javascript">
  $('#graphics').flipLightBox()
 </script>
</body>

</html>