<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Dash Board</title>

 <!-- Bootstrap CDN  -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="https://kit.fontawesome.com/e2169f0192.js" crossorigin="anonymous"></script>

 <!-- Local stylesheet link  -->
 <link rel="stylesheet" href="/css/controlPanel.css">
 <link rel="stylesheet" href="/css/sign_in.css">

  <!-- Fotorama -->
  <link href="/plugin/fotorama-4.6.2/fotorama.css" rel="stylesheet">
  <script src="/plugin/fotorama-4.6.2/fotorama.js"></script>

</head>

<body>