<div class="sidebar container p-3">

 <h3>Keyword</h3>

 <div class="first-search-field">
  <input type="text" placeholder="Enter keyword" class="top-search">
  <span class="fa fa-search"></span>
 </div>

 <h3>Filters</h3>

 <form action="/filter-data" method="POST">
  <div class="first-search-field">
   <input type="text" list="college-name" name="Cname" id="ug-college-name" class="top-search" required
    placeholder="College Name">
   <button type="submit"><span class="fa fa-search"></span></button>

   <datalist id="college-name">
    <option value="University_College_of_Engineering(BIT_campus)"></option>
    <option value="Anna_University(CEG_campus)"></option>
   </datalist>
  </div>
 </form>
</div>