<div class="sidebar container p-3">


 <h3>Keyword</h3>

 <div class="first-search-field">
  <input type="text" placeholder="Enter keyword" id="top-search">
  <span class="fa fa-search"></span>
 </div>

 <h3>Filters</h3>

 <div class="search-field">
  <p class="choose">Search for</p>

  <div class="show">
   <select name="option">
    <option value="Search for">Search for</option>
    <option value="Admin">Admin</option>
    <option value="Alumni">Alumni</option>
    <option value="Faculty">Faculty</option>
    <option value="Student">Student</option>
   </select>
  </div>
 </div>

 <div class="search-field">
  <p class="choose">Year of Graduation</p>

  <div class="show">

   <div class="boxes">
    <input type="checkbox" name="year2017"> <label>2017</label><span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="year2018"><label>2018</label> <span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="year2019"><label>2019</label> <span class="count">134</span>
   </div>

   <select name="option">
    <option value="Search for">Search for</option>
    <option value="Admin">Admin</option>
    <option value="Alumni">Alumni</option>
    <option value="Faculty">Faculty</option>
    <option value="Student">Student</option>
   </select>
  </div>

 </div>


 <div class="search-field">
  <p class="choose">Division/Department</p>

  <div class="show">

   <div class="boxes">
    <input type="checkbox" name="geology">Geology <span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Mathematics">Mathematics <span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Computer Science">Computer Science <span class="count">134</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Commerce">Commerce <span class="count">134</span>
   </div>

   <select name="option">
    <option value="Search for">Search for</option>
    <option value="Admin">Admin</option>
    <option value="Alumni">Alumni</option>
    <option value="Faculty">Faculty</option>
    <option value="Student">Student</option>
   </select>
  </div>

 </div>

 <div class="search-field">
  <p class="choose">Degree</p>

  <div class="show">
   <div class="boxes">
    <input type="checkbox" name="geology">B.C.A <span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Mathematics"> B.A<span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Computer Science">Computer Science <span class="count">134</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Commerce">Commerce <span class="count">134</span>
   </div>

   <select name="option">
    <option value="Search for">Search for</option>
    <option value="Admin">Admin</option>
    <option value="Alumni">Alumni</option>
    <option value="Faculty">Faculty</option>
    <option value="Student">Student</option>
   </select>
  </div>

 </div>

 <div class="search-field">
  <p class="choose">Home Town</p>

  <div class="show">
   <div class="boxes">
    <input type="checkbox" name="geology">Geology <span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Mathematics">Mathematics <span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Computer Science">Computer Science <span class="count">134</span>
   </div>

   <input type="text" placeholder="Location">

  </div>

 </div>

 <div class="search-field">
  <p class="choose">Company</p>

  <div class="show">
   <div class="boxes">
    <input type="checkbox" name="geology">Geology <span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Mathematics">Mathematics <span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Computer Science">Computer Science <span class="count">134</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Commerce">Commerce <span class="count">134</span>
   </div>

   <input type="text" placeholder="Company Name">

  </div>

 </div>

 <div class="search-field">
  <p class="choose">Designation</p>

  <div class="show">
   <div class="boxes">
    <input type="checkbox" name="geology">Geology <span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Mathematics">Mathematics <span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Computer Science">Computer Science <span class="count">134</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Commerce">Commerce <span class="count">134</span>
   </div>
   <input type="text" placeholder="Search Designation">

  </div>

 </div>


 <div class="search-field">
  <p class="choose">Skill</p>

  <div class="show">
   <div class="boxes">
    <input type="checkbox" name="geology">Geology <span class="count">46</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Mathematics">Mathematics <span class="count">26</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Computer Science">Computer Science <span class="count">134</span>
   </div>

   <div class="boxes">
    <input type="checkbox" name="Commerce">Commerce <span class="count">134</span>
   </div>

   <input type="text" placeholder="Search Skills">

  </div>

 </div>

</div>
