@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Roboto', Helvetica, sans-serif;
}

nav{
 background-color: #fffdf9;
 color: white;
 margin-bottom: 3rem;
}

.navbar-brand{
 height: 60px;
}

.nav-item{
 margin: 0 18px;
}

.fa-sign-in,.fa-caret-down{
 padding:10px;
 background: none;
 color: #fb5b5a;
}

.nav-link{
 color: black;
 display: inline-block;
}

.dropdown-item:hover{
 background-color: #fb5b5a;
 color: white;
}

.active{
 outline: 1px solid #fb5b5a;
 margin-top: 5px;
}

.nav-link:hover,.nav-item:hover .fa-sign-in{
 background-color: #fb5b5a;
 color: white;
}

.nav-item:hover #drop,.nav-item:hover .fa-caret-down{
 background-color: none;
 color: white;
}

.container-box{
 display: flex;
 height: 100vh;
 /* width: 100%; */
}

.sidebar{
 height: auto;
 width: 30%;
 /* background-color: brown; */
}

.sidebar h3{
 font-weight: 300;
 line-height: 20px;
 font-size: 18px;
 padding: 1rem 0 0.3rem 0;
 text-transform: uppercase;
}

.sidebar .first-search-field{
 display: flex;
 align-items: center;
}

.sidebar .search-field{
 display: flex;
 flex-direction: column;
}

.sidebar .first-search-field .top-search{
 background-color: #E0E0E0;
 border: none;
 width: 100%;
 height: 48px;
}

.top-search::placeholder{
 font-style: italic;
 font-size: 1rem;
 padding-left: 3px;
}

.sidebar .search-field{
 background-color: #E0E0E0;
 margin: 8px 0;
}

.sidebar .search-field .choose{
 font-size: 16px;
 line-height: 20px;
 font-weight: 500;
 padding: 15px 24px;
 padding-bottom: 0;
 display: inline-block;
 cursor: pointer;
}

.sidebar .search-field .show select{
 width: 100%;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13.33px;
 height: 40px;
 padding: 0px 0 5px 10px;
 outline: none;
 border: none;
}

.sidebar .search-field .show .boxes{
 position: relative;
 text-align: left;
 padding-left: 20%;
}

.sidebar .search-field .show input[type = "checkbox"]{
 position: absolute;
 left: 10px;
 top: 5px;
 display: inline-block;
 /* padding: 10px; */
}

.sidebar .search-field .show label{
 width: 70%;
}

.sidebar .search-field .show .count{
  position: absolute;
  padding-right: 10px;
 right: 0;
}

.sidebar .search-field input[type = "text"]{
 border: none;
 outline: none;
 width: 100%;
 height: 20px;
 cursor: text;
 padding: 10px 10px 20px 20px;
 display: block;
}

.sidebar .search-field input[type = "text"]::placeholder{
 padding-top: 20px;
 color: rgb(204, 188, 188);
}

.sidebar .search-field .show{
 display: none;
}

.sidebar .search-field .hide{
  display: unset;
}

.main{
 width: 95%;
 height: 100%;
 padding: 2rem;
 padding-top: 0;
 /* background-color: coral; */
}

.main .header{
 width: 100%;
 padding-top: 10px;
 background-color: #fb5b5a;
 color: white;
 line-height: 20px;
 height: 40px;
}

.main .member{
 box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
 margin-top: 1rem;
 display: flex;
 height: 100px;
 /* width: 500px; */
 position: relative;
}

.main .member img{
 padding: 1rem;
 border-radius: 100px;
 width: 100px;
 height: 100px;
}

.main .member .member-detail{
 padding: 1rem 1rem;
 width: 500px;
}

.main .member .member-detail  p{
 padding: 0;
 margin: 0;
 color: #aaa4a4;
}

.main .member .member-detail p{
 text-decoration: none;
 line-height: 16px;
 /* font-weight: 700; */
 font-size: 14px;
}

.main .member .member-detail .member-name{
 text-decoration: none;
 color: #212121;
 line-height: 20px;
 font-weight: 700;
 font-size: 14px;
}

.sidebar .first-search-field .fa-search{
 background-color: #F7A90C;
 color: white;
 font-size: 0.8rem;
 height: 100%;
 padding: 1rem;
}

button[type = "submit"]{
  background: none;
  z-index: 99;
  border: none;
  outline: none;
}

.sidebar .first-search-field{
  padding: 0;
}

.main .member button{
  background: none;
  position: absolute;
  border: none;
  outline: none;
  right: 20px;
  top: 0.8rem;
  /* margin: 0.5rem; */
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  color: white;
  background: #fb5b5a;
}

.main .member  button:hover{
  background-color: #be5151;
  color: white;
}

.main .member .member-detail  input[type = "text"]{
  display: block;
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: #aaa4a4;
}
